<!-- <h1 style="text-align: center;">Products</h1>

<div class="container mt-3">
<h1>Product Details</h1>
<table class="table">
<thead>

<th> Product Name </th>
<th> Description </th>
<th>Update Product Data</th>
</thead>
<tr *ngFor="let item of Dataarray let i=index" class="table-primary">

<td> {{item.productName}}</td>
<td> {{item.description}} </td>
<td><a [routerLink]="['/adminhome/editproduct',item.productId]">Update</a></td>
</tr>
</table>
</div> -->


<div class="head"><h1>PRODUCTS</h1></div>

<div class="box">

    <table>

      <thead>

        <tr>

            <th>Product Name</th>

            <th>Product Description</th>

            <th>Update Product Data</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let item of Dataarray let i=index" class="table-primary">

            <td> {{item.productName}}</td>

            <td> {{item.description}} </td>

            <td><a [routerLink]="['/adminhome/editproduct',item.productId]">Update</a></td>

        </tr>

      </tbody>

    </table>

  </div>
