@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Oswald:wght@700&display=swap');



:root {

    --primary: #094b65;

    $orange: #C0392B;

    $blue: #2980B9;

    $gray: #EEE;

}



* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;



}