<!-- <h1 style="text-align: center;">Register a Product</h1>

<div class="container">
    <h1 style="padding-top: 25px;">Enter Product Details</h1>
    <br>
    <div class="row">
        <form [formGroup]="ProductRegisterForm">
            <div class="col-lg-4"></div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        <h5>Product Name</h5>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" formControlName='ProductName'
                           />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h5>Description</h5>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" formControlName='Description'
                             />
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4">

                    </div>
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-danger" (click)="OnSubmit()" rounded="true">Register Product</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> -->


<div class="head"><h1>NEW PRODUCT</h1></div>

<div class="box">

    <form action="" [formGroup]="ProductRegisterForm">

        <input type="text" id="name" required placeholder="Product Name"formControlName="ProductName">

        <input type="text" id="description" required placeholder="Description" formControlName="Description">

        <button (click)="OnSubmit()">Register</button>

    </form>

</div>