

<header id="header">

    <a class="logo" >GRIEVANCE PORTAL</a>

    <ul>

        <!-- <li><a href="#" class="" [routerLink]="['/Home']">Home</a></li>  -->
        <li><a  class="link" [routerLink]="['/Home']">HOME</a></li>

        <li><a  class="link" [routerLink]="['/Home/Login']">LOGIN</a></li>

        <li><a  class="link2" [routerLink]="['/Home/Register']">REGISTER</a></li>        

    </ul>

</header>

<Section>

    <img src="https://images.pexels.com/photos/796602/pexels-photo-796602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">

</Section>

<router-outlet></router-outlet>